<h2>{{entityName}}s</h2>

<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Total Capacity
    </th>
  </tr>
  <tr *ngFor="let node of items"
      (click)="onSelect(node)">
    <td>
      {{node.name}}
    </td>
    <td>
      {{node.totalCapacity}}
    </td>
    <td>
      <button
        [class.edit]="true"
        (click)="edit(node);$event.stopPropagation()">Edit
      </button>
    </td>
  </tr>
</table>
<button
  [class.adding]="true"
  (click)="enableAdd();$event.stopPropagation()">Add node
</button>
<div *ngIf="adding">
  <div>
    <label>Name:
      <input [(ngModel)]="formItem.name" placeholder="Name" #name="ngModel"/>
    </label>
  </div>

  <div>
    <label>Total Capacity:
      <input type="number" [(ngModel)]="formItem.totalCapacity" placeholder="Total Capacity" #totalCapacity="ngModel">
    </label>
  </div>

  <button
    [class.add]="true"
    (click)="add();$event.stopPropagation()">Submit
  </button>
</div>
